/* Global Styles */
/* Set background color and reset padding and margin for html and body */
html,
body {
  background-color: #f8fafc;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.portfolio {
  font-family: Arial, sans-serif;
  max-width: 1000px; /* Limit container width */
  margin: 0 auto; /* Center content */
  padding: 20px;
}

/* Apply box-sizing border-box to all elements */
* {
  box-sizing: border-box;
}

/* Main content */
main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,h2 {
  font-size: 30px;
  color: #333;
  text-align: center;
}
p {
  font-size: 18px;
}
/* Style sections */
.about-section, 
.projects-section, 
.contact-section {
  margin-bottom: 30px;
  font-size: 18px;
}

ul.social-icons {
  padding: 0;
  display: flex ;
  
  justify-content: center;
}

ul.social-icons li {
  margin: 0 10px; 
}


/* Footer */

/* Style footer */
footer {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #ddd; /* Add a subtle top border */
}
/* Styling for the form element */
form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 10px;
}

form input,
form textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
}

form input[type="submit"] {
  cursor: pointer;
  background-color: #0070f3;
  color: white;
  border: none;
}

/* ---------------------------------- */
